fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
numpy==1.26.4
scipy==1.14.1
librosa==0.10.2
opensmile==2.5.0
deepface==0.0.93
mediapipe==0.10.14
opencv-python-headless==4.10.0.84
tf-keras==2.17.0
transformers==4.44.2
torch==2.4.1
vaderSentiment==3.3.2
pyAudioAnalysis==0.3.14
soundfile==0.12.1
nltk==3.9.1
requests==2.32.3
python-dotenv==1.0.1
